

* { margin: 0px; padding: 0px; border: 0px none; outline: medium none; }
li { list-style: none outside none; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
body, input { font-family: "Roboto",arial,sans-serif; }
.wrapper { min-width: 320px; max-width: 480px; margin: 0px auto; }
#header {   background: url('main.png')/*tpa=http://split-ender.m.shopsale.pro/splitender-official/m1/files/img/main.png*/ no-repeat scroll center 0px transparent;
  height: 490px;
  background-size: cover; }
  .char1{
	  width:50%;
	  float:left;
	  line-height: 23px;
	  margin-bottom: 20px;
  }
    #timer, #timer2{
	  width: 339px;
	  margin: 0 auto;
  }
#box-form { padding: 0px 0px 30px; }
#box-form .box-glasses { text-align: center; }
#box-form .box-glasses .time-to { font-size: 14px; color: rgb(0, 0, 0); padding: 15px 0px 0px; position: relative; }
#box-form .box-form { padding: 25px 20px 0px; }
#box-form .box-form .price { color: rgb(0, 0, 0); text-align: center; }
#box-form .box-form .price div { font-family: "bebas",arial,sans-serif; font-size: 80px; display: inline-block; vertical-align: bottom; line-height: 60px; }
.ctd-day,.ctd-hour,.ctd-minute,.ctd-second {  left: 50px !important;  top: 2px; }
#price_new { display: inline-block; vertical-align: bottom; font-size: 80px; padding: 0px 0px 0px 2px; text-align: left;  line-height: 60px;}
#box-form .box-form .price span del > span { display: inline; }
#box-form .box-form .time { padding: 29px 0px 0px; }
#box-form .box-form .time #timer div { position: relative;
  background: none repeat scroll 0% 0% rgb(27, 131, 231);
  width: 109px;
  height: 109px;
  padding: 0px;
  display: inline-block;
  margin: 0px 1px 0px 0px;
  font-size: 74px;
  font-family: "bebas",arial,sans-serif;
  text-align: center;
  color: rgb(255, 255, 255); }
  .days{
	  display: none !important;
  }

#box-form .box-form .time span { position: absolute; width: 70px; text-align: center; left: 50%; margin-left: -34px; bottom: 10px; font-weight: 300; color: rgb(255, 255, 255); font-size: 18px; font-family: "Roboto",arial,sans-serif; }
#box-form .box-form .title-how { font-size: 36px; font-weight: 300; color: rgb(83, 66, 81); text-align: center; padding: 15px 0px 36px; }
#box-form .box-form input[type="text"] { border: 1px solid rgb(27, 131, 231); width: 100%; height: 64px; line-height: 64px; display: block; margin: 0px 0px 20px; font-size: 18px; color: rgb(83, 66, 81);     padding-left: 20px;
    box-sizing: border-box; }
#box-form .box-form input[type="submit"] { background: none repeat scroll 0% 0% rgb(27, 131, 231); width: 100%; height: 110px; line-height: 110px; display: block; cursor: pointer; color: rgb(255, 255, 255); text-align: center; font-family: "bebas",arial,sans-serif; font-size: 400%; }
#box-form .box-form input[type="submit"]:hover { opacity: 0.8; }
#description {     background: url('nabor.jpg')/*tpa=http://split-ender.m.shopsale.pro/splitender-official/m1/files/img/nabor.jpg*/ no-repeat scroll center 0px transparent;
     background-size: contain;
    padding: 128px 0px 15px; }
#description .title { font-size: 53px; font-family: "bebas",arial,sans-serif; color: rgb(0, 0, 0); text-align: center; padding: 315px 0px 0px; }
#description .box { font-size: 15px; color: rgb(83, 66, 81); line-height: 20px; padding: 0px 40px 0px 28px; }
#description .box div { font-size: 32px; font-weight: 300; padding: 0px 0px 10px; line-height: 32px; }
#description .box p { padding: 0px 0px 5px; }
#characteristics { padding: 0px 0px 30px; }
#characteristics .title { color: rgb(85, 141, 176); font-size: 45px; font-family: "bebas",arial,sans-serif; padding: 0px 0px 15px 29px; }
#characteristics ul { padding: 0px 0px 0px 15px; }
#characteristics ul li { background: url('nav-c.jpg')/*tpa=http://split-ender.m.shopsale.pro/splitender-official/m1/files/img/nav-c.jpg*/ no-repeat scroll 0px 6px transparent; padding: 0px 0px 10px 15px; line-height: 20px; font-size: 15px; color: rgb(83, 66, 81); }
#pluses {  background: url('family.jpg')/*tpa=http://split-ender.m.shopsale.pro/splitender-official/m1/files/img/family.jpg*/ no-repeat scroll center 0px transparent;
  height: 440px;
  background-size: contain;}
#pluses .item { width: 25%; float: left; text-align: center; font-size: 12px; color: black; padding: 350px 0px 0px; }
#pluses .item img { vertical-align: bottom; width: 86px;border: 1px solid gray; }
#pluses .item div { padding: 13px 0px 0px; }
#footer { padding: 59px 0px 0px; }
#footer .box-footer {  }
#footer .box-footer .logo { background: url('logo.png')/*tpa=http://split-ender.m.shopsale.pro/splitender-official/m1/files/img/logo.png*/ no-repeat scroll 0px 0px transparent;   width: 196px; height: 131px; margin: 0px auto; }
#footer .box-footer .icons-b {   background: url('oplata.png')/*tpa=http://split-ender.m.shopsale.pro/splitender-official/m1/files/img/oplata.png*/ no-repeat scroll 0px 0px transparent;
  height: 332px;
  margin: 40px 0px 0px;
  background-size: cover; }
#footer .box-footer .icons-b .item { width: 25%; float: left; text-align: center; color: rgb(0, 0, 0); font-size: 14px; padding: 127px 0px 0px; }
#footer .box-form {    padding: 62px 20px 50px 20px; }
#footer .box-form .price { color: rgb(0, 0, 0); text-align: center; }
#footer .box-form .price div { font-family: "bebas",arial,sans-serif; font-size: 80px; display: inline-block; vertical-align: bottom; line-height: 60px; }

#footer .box-form .price span del > span { display: inline; }
#footer .box-form .time { padding: 29px 0px 0px; }
#footer .box-form .time #timer2 div { position: relative;
  background: none repeat scroll 0% 0% rgb(27, 131, 231);
  width: 109px;
  height: 109px;
  padding: 0px;
  display: inline-block;
  margin: 0px 1px 0px 0px;
  font-size: 74px;
  font-family: "bebas",arial,sans-serif;
  text-align: center;
  color: rgb(255, 255, 255); }
#footer .box-form .time span { position: absolute; width: 70px; text-align: center; left: 50%; margin-left: -34px; bottom: 10px; font-weight: 300; color: rgb(255, 255, 255); font-size: 18px; font-family: "Roboto",arial,sans-serif; }
#footer .box-form .title-how { font-size: 24px; font-weight: 300; color: rgb(0, 0, 0); text-align: center; padding: 15px 0px 36px; }
#footer .box-form input[type="text"] { border: 1px solid rgb(27, 131, 231); width: 100%; height: 64px; line-height: 64px; display: block; margin: 0px 0px 20px; font-size: 18px; color: rgb(83, 66, 81);    padding-left: 20px;
    box-sizing: border-box; }
#footer .box-form input[type="submit"] { background: none repeat scroll 0% 0% rgb(27, 131, 231); width: 100%; height: 110px; line-height: 110px; display: block; cursor: pointer; color: rgb(255, 255, 255); text-align: center; font-family: "bebas",arial,sans-serif; font-size: 400%; }
#footer .box-form input[type="submit"]:hover { opacity: 0.8; }
#bottom { background: none repeat scroll 0% 0% rgb(164, 207, 213); text-align: center; font-size: 14px; padding: 10px 0px; }
.ctd-day,.ctd-hour,.ctd-minute,.ctd-second { width: 73px; height: 73px; padding: 0px; margin: 0px 1px 0px 0px; font-size: 74px !important;
  top: 2px; }
@media screen and (max-width: 405px) {
	.wrapper { width: 320px; margin: 0px auto; }
	#header {
    background: url('main.png')/*tpa=http://split-ender.m.shopsale.pro/splitender-official/m1/files/img/main.png*/ no-repeat scroll center 0px transparent;
    height: 330px;
    background-size: cover;
}
	#box-form { padding: 0px 0px 20px; }
	#box-form .box-glasses .time-to { font-size: 9px; padding: 9px 0px 0px; }
	#box-form .box-form {     padding: 16px 13px 0px 13px; }
  #timer, #timer2{
	  width: 230px;
	  margin: 0 auto;
  }
	#box-form .box-form .time { padding: 20px 0px 0px; }
	#box-form .box-form .time #timer div { position: relative;
  background: none repeat scroll 0% 0% rgb(27, 131, 231);
  width: 69px;
  height: 69px;
  padding: 0px;
  display: inline-block;
  margin: 0px 6px 0px 0px;
  font-size: 74px;
  font-family: "bebas",arial,sans-serif;
  text-align: center;
  color: rgb(255, 255, 255); }
	#box-form .box-form .time span {  width: 47px;
  margin-left: -23px;
  bottom: 4px;
  font-size: 12px; }
	#box-form .box-form .title-how { font-size: 16px; padding: 9px 0px 24px; }
	#box-form .box-form input[type="text"] { width: 100%; height: 43px; line-height: 43px; margin: 0px 0px 13px; font-size: 11px; padding: 0px 13px; }
	#box-form .box-form input[type="submit"] { width: 100%; height: 73px; line-height: 73px; font-size: 52px; }
	#box-form .box-form input[type="submit"]:hover { opacity: 0.8; }
	#description {
    background: url('nabor.jpg')/*tpa=http://split-ender.m.shopsale.pro/splitender-official/m1/files/img/nabor.jpg*/ no-repeat scroll 0 0 transparent;
    padding: 184px 0px 15px;
    background-size: contain;
    height: 70px;
}
	#description .title { font-size: 44px; padding: 92px 0px 0px; }
	#description .box { font-size: 9px; line-height: 13px; padding: 20px 27px 0px 19px; }
	#description .box div { font-size: 21px; padding: 0px 0px 6px; line-height: 21px; }
	#description .box p { padding: 0px 0px 3px; }
	#characteristics { padding: 190px 0px 20px; }
	#characteristics .title { font-size: 35px; padding: 0px 0px 9px 19px; }
	#characteristics ul { padding: 0px 0px 0px 9px; }
	#characteristics ul li { background: url('nav-c.jpg')/*tpa=http://split-ender.m.shopsale.pro/splitender-official/m1/files/img/nav-c.jpg*/ no-repeat scroll 0px 1px transparent; padding: 0px 0px 7px 9px; line-height: 13px; font-size: 9px; }
	#pluses { background: url('family.jpg')/*tpa=http://split-ender.m.shopsale.pro/splitender-official/m1/files/img/family.jpg*/ no-repeat scroll center 0px transparent;   height: 280px;
  background-size: contain; }
	#pluses .item { font-size: 8px; padding: 247px 0px 20px; }
	#pluses .item img { width: 57px; }
	#pluses .item div { padding: 8px 0px 0px; }
	#footer { padding: 19px 0px 0px; }
	#footer .box-footer {  }
	#footer .box-footer .logo { background: url('logo.png')/*tpa=http://split-ender.m.shopsale.pro/splitender-official/m1/files/img/logo.png*/ no-repeat scroll 0px 0px transparent;   width: 196px;
  height: 127px; }
	#footer .box-footer .icons-b { background: url('oplata.png')/*tpa=http://split-ender.m.shopsale.pro/splitender-official/m1/files/img/oplata.png*/ no-repeat scroll 0px 0px transparent;
  height: 221px;
  margin: 27px 0px 0px;
  background-size: cover;
} 
	#footer .box-footer .icons-b .item { font-size: 9px; padding: 85px 0px 0px; }
	#footer .box-form { padding: 41px 13px 33px 13px; }
	#footer .box-form .price div { font-size: 53px; line-height: 40px; }
	#footer .box-form .time { padding: 20px 0px 0px; }
	.ctd-day,.ctd-hour,.ctd-minute,.ctd-second { width: 73px; height: 73px; padding: 0px; margin: 0px 1px 0px 0px; font-size: 50px !important;  left: 30px !important;  top: 2px; }
  #footer .box-form .time #timer2 div {
  position: relative;
  background: none repeat scroll 0% 0% rgb(27, 131, 231);
  width: 68px;
  height: 68px;
  padding: 0px;
  display: inline-block;
  margin: 0px 1px 0px 0px;
  font-size: 74px;
  font-family: "bebas",arial,sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
}
	#footer .box-form .time span { width: 47px; margin-left: -23px; bottom: 4px;
  font-size: 12px; }
	#footer .box-form .title-how { font-size: 16px; padding: 9px 0px 24px; }
	#footer .box-form input[type="text"] { width: 100%; height: 43px; line-height: 43px; margin: 0px 0px 13px; font-size: 11px; padding: 0px 13px; }
	#footer .box-form input[type="submit"] { width: 100%; height: 73px; line-height: 73px; font-size: 52px; }
	#footer .box-form input[type="submit"]:hover { opacity: 0.8; }



