/* Модальное окно */

.modal_div {
	width:640px;
	border-radius:5px;
	background:#fff;
	position:fixed;
	top:5%;
	overflow-y: auto;
	left:50%;
	margin-left:-320px;
	//display:none;
	visibility: hidden;
	opacity:0;
	z-index:9999;
	padding:30px;
}
.modal_div .modal_close {
	position: absolute;
  top: 10px;
  line-height: 20px;
  right: 15px;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  color: #A9A9A9;
}
#overlay {
	z-index:9998;
	position:fixed;
	background-color:#000;
	opacity:0.3;
	width:100%;
	height:100%;
	top:0;
	left:0;
	cursor:pointer;
	display:none;
}
@media (max-width: 768px) { 
	.modal_div {
		width:80%;
		//height:80%;
		padding:5%;
		overflow-y: auto;
	}
	div#modal_callhunter {
		height: auto !important;
	}
}
/*@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	
}
@media (min-width: @screen-lg-min) {
	
}*/

/* Модальное окно */

/* CallHunter */

@font-face {
  font-family: 'callhunter';
  src: url('callhunter.eot@85639607')/*tpa=http://split-ender.m.shopsale.pro/cdn.sellpost.pro/css/font-callhunter/callhunter.eot@85639607*/;
  src: url('callhunter.eot@85639607#iefix')/*tpa=http://split-ender.m.shopsale.pro/cdn.sellpost.pro/css/font-callhunter/callhunter.eot@85639607#iefix*/ format('embedded-opentype'),
       url('callhunter.woff@85639607')/*tpa=http://split-ender.m.shopsale.pro/cdn.sellpost.pro/css/font-callhunter/callhunter.woff@85639607*/ format('woff'),
       url('callhunter.ttf@85639607')/*tpa=http://split-ender.m.shopsale.pro/cdn.sellpost.pro/css/font-callhunter/callhunter.ttf@85639607*/ format('truetype'),
       url('callhunter.svg@85639607#callhunter')/*tpa=http://split-ender.m.shopsale.pro/cdn.sellpost.pro/css/font-callhunter/callhunter.svg@85639607#callhunter*/ format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "callhunter";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-callhunter:before { content: '\e80b'; } /* '' */


@keyframes pulse {
0% 		{background-color: rgba(0, 174, 243, 0.5);}
50% 	{background-color: rgba(0, 174, 243, 1);}
100% 	{background-color: rgba(0, 174, 243, 0.5);}
}

#wrap1 {

}

.call-hunter {
	position: fixed;
  right: 25px;
  bottom: 25px;
  border-radius: 50%;
  background-color: rgba(0, 174, 243, 0.75);
  animation: pulse 2s infinite;
  width: 100px;
  height: 100px;
  z-index: 9999;
}

.call-hunter>a {
	display: block;
  height: 100px;
  width: 100px;
  position: relative;
  text-decoration: none;
}
.call-hunter>a:hover span.icon-callhunter {
	opacity: 0;
}
.call-hunter>a:hover p.text {
	opacity: 1;
}
.call-hunter>a span.icon-callhunter {
	text-align: center;
  line-height: 100px;
  font-size: 48px;
  color: #FFF;	
    width: 100px;
  opacity: 1;
  display: block;
  position: absolute;
}
.call-hunter>a p.text {
	text-align: center;
  line-height: 18px;
    width: 100px;
  padding: 35px 0px;
  font-size: 14px;
  color: #FFF;
  opacity: 0;
  position: absolute;
  margin: 0px;
  text-decoration: none;
}
div#modal_callhunter {
	background-color: #E9EAEA;
	width: 400px !important;
	margin-left: -200px !important;
}
div#modal_callhunter p {
	margin: 0px;
  margin-bottom: 20px;
  font-weight: 300;
  text-align: center;
  font-family: sans-serif;
}
div#modal_callhunter input[name="clientPhoneInitial"] {
	width: 400px;
  border: 1px solid #D0D0D0;
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
  display: block;
  background-color: #D0D0D0;
  color:#333;
  margin: 0 auto;
}
div#modal_callhunter input[type="submit"] {
	text-align: center;
	width: 273px;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	border: 1px solid #5C5C5C;
	background-color: #5C5C5C;
	color:#fff;
	font-weight: 300;
	font-family: sans-serif;
	height: 42px;
}

/* CallHunter */

/* Стандартный дизайн счетчика */

span.ctd_theme {
	display: block;
  margin: 30px 0px 50px;
  text-align: center;
} 
span.ctd_theme>span {
	background: #ececec;
	background: -moz-linear-gradient(top,  #ececec 0%, #bdbdbd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#bdbdbd));
	background: -webkit-linear-gradient(top,  #ececec 0%,#bdbdbd 100%);
	background: -o-linear-gradient(top,  #ececec 0%,#bdbdbd 100%);
	background: -ms-linear-gradient(top,  #ececec 0%,#bdbdbd 100%);
	background: linear-gradient(to bottom,  #ececec 0%,#bdbdbd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#bdbdbd',GradientType=0 );
	color: #000;
  border-radius: 5px;
  font-size: 32px;
  padding: 10px;
  margin: 0px 5px;
}
span.ctd_theme>span {
	position: relative;
}
span.ctd_theme>span.day:after {
	content: 'Дней';
  position: absolute;
  font-size: 12px;
  bottom: -20px;
  left: 0px;
  text-align: center;
  width: 100%;
}
span.ctd_theme>span.hour:after {
	content: 'Часов';
  position: absolute;
  font-size: 12px;
  bottom: -20px;
  left: 0px;
  text-align: center;
  width: 100%;
}
span.ctd_theme>span.min:after {
	content: 'Минут';
  position: absolute;
  font-size: 12px;
  bottom: -20px;
  left: 0px;
  text-align: center;
  width: 100%;
}
span.ctd_theme>span.sec:after {
	content: 'Секунд';
  position: absolute;
  font-size: 12px;
  bottom: -20px;
  left: 0px;
  text-align: center;
  width: 100%;
}

/* Стандартный дизайн счетчика */

.video-responsive {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}