.version.index /* version checker */
{
	color: #0000EB;
	background-color: #5B8D7E;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

@font-face
{
	font-family: '__SF UI Display_5';
	src: url('../fonts/sfuidisplaythin.eot');
	src: local('☺'), url('../fonts/sfuidisplaythin.woff') format('woff'), url('../fonts/sfuidisplaythin.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face
{
	font-family: '__SF UI Display_5';
	src: url('../fonts/sfuidisplaybold.eot');
	src: local('☺'), url('../fonts/sfuidisplaybold.woff') format('woff'), url('../fonts/sfuidisplaybold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

#page
{
	margin-left: auto;
	border-color: #000000;
	z-index: 1;
	margin-right: auto;
	border-width: 0px;
	width: 100%;
	background-image: none;
	background-color: transparent;
}

#u653
{
	z-index: 3;
	background: #FFFFFF url("../images/split_0009_rectangle-1.png") no-repeat left top;
	background-size: cover;
}

#u653-bw
{
	z-index: 3;
}

#u673-4
{
	background-color: transparent;
	position: relative;
	min-height: 55px;
}

#u656
{
	background: transparent url("../images/photodune-1899209.jpg") no-repeat center center;
	background-size: cover;
}

#u741
{
	border-radius: 50px;
	background-color: #FFFFFF;
	position: relative;
	filter: alpha(opacity=87);
	margin-right: -10000px;
	opacity: 0.87;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=87)";
}

#u742
{
	margin-right: -10000px;
	background-color: transparent;
	margin-top: 11px;
	position: relative;
}

#u744-4
{
	color: #7F7F7F;
	position: relative;
	line-height: 29px;
	margin-right: -10000px;
	font-family: '__SF UI Display_5';
	font-size: 24px;
	font-weight: 200;
	min-height: 41px;
	background-color: transparent;
}

#u665-6
{
	color: #FFFFFF;
	font-family: '__SF UI Display_5';
	position: relative;
	line-height: 29px;
	font-size: 24px;
	font-weight: 400;
	min-height: 79px;
	background-color: transparent;
}

#u665
{
	font-weight: 200;
	font-family: '__SF UI Display_5';
}

#u733-4
{
	color: #FFFFFF;
	width: 295px;
	position: relative;
	line-height: 29px;
	font-family: '__SF UI Display_5';
	font-size: 24px;
	font-weight: 200;
	min-height: 41px;
	background-color: transparent;
}

#u736-5
{
	margin-right: -10000px;
	position: relative;
	line-height: 43px;
	background-color: transparent;
	font-size: 36px;
}

#u665-2,#u736
{
	font-weight: 700;
	font-family: '__SF UI Display_5';
}

#u736-2
{
	font-size: 36px;
}

#u737-5
{
	margin-right: -10000px;
	position: relative;
	line-height: 36px;
	background-color: transparent;
	font-size: 30px;
}

#u737
{
	color: #7F7F7F;
	font-family: '__SF UI Display_5';
	font-weight: 700;
}

#u740
{
	margin-right: -10000px;
	background-color: #7F7F7F;
	position: relative;
	height: 1px;
}

#u745
{
	position: relative;
	background-color: transparent;
	border-width: 0px;
	border-color: transparent;
}

#u747
{
	margin-right: -10000px;
	position: relative;
	border-radius: 40px;
	border-width: 0px;
	background-color: #E91E63;
	border-color: transparent;
}

#u746-4
{
	color: #FFFFFF;
	position: relative;
	line-height: 29px;
	margin-right: -10000px;
	font-family: '__SF UI Display_5';
	font-size: 24px;
	font-weight: 700;
	background-color: transparent;
}

#u746-4.MuseLinkActive
{
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	padding-top: 0px;
}

#u746-4.MuseLinkActive p
{
	text-align: center;
}

#u660
{
	border-width: 5px;
	background-repeat: no-repeat;
	border-radius: 200px;
	border-style: solid;
	border-color: #C69C6D;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	background-position: left top;
	background-size: cover;
}

.round
{
	border-radius: 130px;
	border-width: 5px;
	border-color: #C69C6D;
	background: transparent url("../images/shutterstock_120095254.jpg") no-repeat left top;
	background-size: cover;
}

#u661
{
	border-width: 5px;
	border-radius: 200px;
	border-style: solid;
	border-color: #C69C6D;
	position: relative;
	margin-right: -10000px;
	background: #C69C6D url("../images/split_0012_%d1%81%d0%bb%d0%be%d0%b9-1png.png") no-repeat right center;
	background-size: cover;
}

.round2
{
	border-radius: 130px;
	border-width: 5px;
	border-color: #C69C6D;
	background: #C69C6D url("../images/split_0012_%d1%81%d0%bb%d0%be%d0%b9-1png-ieu661-fr.png") no-repeat right center;
	background: rgba(0,0,0,0) url("../images/split_0012_%d1%81%d0%bb%d0%be%d0%b9-1png.png") no-repeat right center;
	background-color: #C69C6D;
	background-size: cover;
}

#u662
{
	border-width: 5px;
	border-radius: 200px;
	border-style: solid;
	border-color: #C69C6D;
	position: relative;
	margin-right: -10000px;
	background: #C69C6D url("../images/split_0011_%d1%81%d0%bb%d0%be%d0%b9-2.png") no-repeat left center;
	background-size: cover;
}

.round3
{
	border-radius: 130px;
	border-width: 5px;
	border-color: #C69C6D;
	background: #C69C6D url("../images/split_0011_%d1%81%d0%bb%d0%be%d0%b9-2-ieu662-fr.png") no-repeat left center;
	background: rgba(0,0,0,0) url("../images/split_0011_%d1%81%d0%bb%d0%be%d0%b9-2.png") no-repeat left center;
	background-color: #C69C6D;
	background-size: cover;
}

#u663-4
{
	background-color: transparent;
	min-height: 77px;
	position: relative;
}

#u666-5
{
	position: relative;
	font-family: roboto, sans-serif;
	font-weight: 400;
	background-color: transparent;
}

#u668-4,#u669-4,#u670-4
{
	font-family: roboto, sans-serif;
	position: relative;
	line-height: 22px;
	font-size: 18px;
	font-weight: 400;
	min-height: 68px;
	background-color: transparent;
}

#u667-4,#u671-4
{
	font-family: roboto, sans-serif;
	position: relative;
	font-weight: 400;
	min-height: 94px;
	background-color: transparent;
}

#u672-4
{
	font-family: merriweather, serif;
	position: relative;
	font-weight: 400;
	min-height: 80px;
	background-color: transparent;
}

#u680-4
{
	position: relative;
	font-family: merriweather, serif;
	font-weight: 400;
	background-color: transparent;
}

#u728,#u729,#u730
{
	position: relative;
	background-color: #1C1C1C;
	border-width: 0px;
	width: 78px;
	min-height: 80px;
	border-color: transparent;
}

#u652
{
	background-repeat: repeat-x;
	background-position: left top;
	z-index: 2;
	background-color: #000000;
}

#u724-7
{
	color: #FFFFFF;
	background-color: transparent;
	position: relative;
	text-align: center;
	min-height: 167px;
}

#u724-2
{
	font-size: 30px;
	line-height: 36px;
}

#u724-4,#u724-5
{
	font-size: 90px;
	line-height: 108px;
}

#u681
{
	border-radius: 51px;
	border-color: transparent;
	position: relative;
	-pie-box-shadow: -1px 11px 30px #F8B9CE;
	padding-bottom: 8px;
	border-width: 0px;
	box-shadow: -1px 11px 30px rgba(233,30,99,0.31);
	background-color: #E91E63;
}

#u682-4
{
	margin-top: 22px;
	color: #FFFFFF;
	position: relative;
	line-height: 29px;
	margin-right: -10000px;
	font-family: '__SF UI Display_5';
	font-size: 24px;
	font-weight: 700;
	min-height: 48px;
	background-color: transparent;
}

#u652-bw
{
	z-index: 2;
}

#u654
{
	background: #FFFFFF url("../images/split_0008_shutterstock_120690061.png") no-repeat right top;
	background-size: cover;
}

#u656_align_to_page,#u652_align_to_page,#u654_align_to_page
{
	margin-left: auto;
	position: relative;
	margin-right: auto;
}

#u678-4,#u679-4,#u664-6,#u685,#u687,#u689
{
	background-color: transparent;
	position: relative;
}

#u674-4,#u675-4,#u676-4
{
	position: relative;
	background-color: transparent;
	min-height: 70px;
}

#u657,#u659
{
	background-color: #FFFFFF;
	position: relative;
}

#pamphletu696
{
	margin-right: -10000px;
	position: relative;
	margin-left: 50%;
	width: 0.01px;
}

#u703
{
	position: absolute;
	width: 945px;
	background-color: transparent;
}

#u707
{
	border-radius: 114px;
	position: relative;
	background: transparent url("../images/29-ieu707-fr.png") no-repeat left top;
	background: rgba(0,0,0,0) url("../images/29.jpg") no-repeat left top;
	background-color: transparent;
	background-size: cover;
}

#u711
{
	border-radius: 114px;
	position: relative;
	background: transparent url("../images/88698235_komyza307.jpg") no-repeat left top;
	background-size: cover;
}

#u705-4,#u709-4
{
	color: #000000;
	font-family: open-sans, sans-serif;
	position: relative;
	line-height: 29px;
	margin-right: -10000px;
	font-size: 24px;
	font-weight: 600;
	min-height: 30px;
	background-color: transparent;
}

#u704,#u708,#u712
{
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-width: 0px;
	width: 945px;
	border-color: #000000;
}

#u714
{
	border-radius: 114px;
	position: relative;
	background: transparent url("../images/boy-dp-girl-tumblr-favimcom-3304924.jpg") no-repeat left top;
	background-size: cover;
}

#u706-4,#u710-4,#u715-5
{
	color: #282828;
	position: relative;
	font-style: normal;
	font-family: open-sans, sans-serif;
	text-align: left;
	font-weight: 400;
	min-height: 85px;
	background-color: transparent;
}

#u713-4
{
	color: #000000;
	font-family: open-sans, sans-serif;
	position: relative;
	line-height: 29px;
	margin-right: -10000px;
	width: 48.26%;
	font-size: 24px;
	font-weight: 600;
	min-height: 30px;
	background-color: transparent;
}

#u716
{
	margin-right: -10000px;
	position: relative;
	width: 50px;
}

#u719
{
	position: absolute;
	width: 10px;
	border-radius: 5px;
	background-color: #DDDDDD;
	height: 10px;
}

#u717
{
	height: 10px;
	left: 20px;
	border-radius: 5px;
	position: absolute;
	width: 10px;
	background-color: #DDDDDD;
}

#u719.PamphletThumbSelected,#u717.PamphletThumbSelected
{
	height: 10px;
	width: 10px;
	min-height: 0px;
	background-color: #A3D4E9;
	margin: 0px;
}

#u718
{
	height: 10px;
	left: 40px;
	border-radius: 5px;
	position: absolute;
	width: 10px;
	background-color: #DDDDDD;
}

#u719:hover,#u717:hover,#u718:hover
{
	height: 10px;
	width: 10px;
	min-height: 0px;
	background-color: #CCCCCC;
	margin: 0px;
}

#u718.PamphletThumbSelected
{
	border-radius: 5px;
	height: 10px;
	width: 10px;
	min-height: 0px;
	background-color: #A3D4E9;
	margin: 0px;
}

#u700
{
	background-color: #FFFFFF;
	border-radius: 17px;
	position: absolute;
	border-width: 0px;
	border-color: transparent;
}

#u697
{
	background-color: #F8F8F8;
	border-radius: 18px;
	position: absolute;
	border-width: 0px;
	border-color: transparent;
}

#u701,#u698
{
	margin-right: -10000px;
	background-color: transparent;
	width: 50px;
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton
{
	cursor: pointer;
}

#u1307-4
{
	color: #000000;
	width: 216px;
	position: relative;
	font-family: merriweather, serif;
	text-align: center;
	font-weight: 400;
	background-color: transparent;
}

#u731,#u734,#u738,#u722
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
}

#u2289
{
	position: relative;
	background-color: transparent;
	border-width: 0px;
	width: 70px;
	min-height: 70px;
	border-color: transparent;
}

#u725
{
	margin-right: -10000px;
	position: relative;
	background-color: transparent;
	margin-top: 532px;
	border-width: 0px;
	width: 100px;
	min-height: 100px;
	border-color: transparent;
}

#pu727
{
	margin-right: -10000px;
	margin-top: 421px;
	padding-bottom: 0px;
}

#u727
{
	border-color: transparent;
	border-width: 0px;
	width: 100px;
	position: relative;
	min-height: 100px;
	background-color: transparent;
}

#u726
{
	margin-top: 19px;
	border-color: transparent;
	border-width: 0px;
	width: 100px;
	position: relative;
	min-height: 100px;
	background-color: transparent;
}

#u655
{
	margin-right: -10000px;
	height: 5px;
	margin-top: 377px;
	width: 5px;
	position: relative;
}

.ie #u655
{
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	background-color: #FFFFFF;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 681px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 2260px;
		padding-bottom: 62px;
		max-width: 1200px;
	}

	#pu657
	{
		margin-right: -10000px;
		margin-top: 621px;
		width: 287.84%;
		margin-left: -93.92%;
	}

	#u657
	{
		z-index: 7;
		height: 728px;
		-webkit-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-17,89);
		-ms-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-17,89);
		transform: matrix(0.9986,-0.0523,0.0523,0.9986,-17,89);
		margin-top: 88px;
		margin-bottom: 88px;
		width: 97.49%;
		margin-left: 1.26%;
		left: 28.999999999999773px;
	}

	#u658
	{
		z-index: 8;
		height: 869px;
		background-color: #FFFFFF;
		-webkit-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-20,89);
		-ms-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-20,89);
		transform: matrix(0.9986,-0.0523,0.0523,0.9986,-20,89);
		margin-top: 567px;
		margin-bottom: 88px;
		position: relative;
		width: 97.49%;
		margin-left: 1.26%;
		left: 32.99999999999977px;
	}

	#u659
	{
		z-index: 9;
		height: 1752px;
		-webkit-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-44,89);
		-ms-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-44,89);
		transform: matrix(0.9986,-0.0523,0.0523,0.9986,-44,89);
		margin-top: 810px;
		margin-bottom: 87px;
		width: 97.49%;
		margin-left: 1.26%;
		left: 45.99999999999977px;
	}

	#pu728
	{
		width: 0.01px;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 351px;
		margin-left: -320px;
	}

	#u728
	{
		z-index: 163;
	}

	#u729
	{
		z-index: 164;
		margin-top: 17px;
	}

	#u730
	{
		z-index: 165;
		margin-top: 16px;
	}

	#ppu656
	{
		width: 0.01px;
		padding-bottom: 0px;
		margin-right: -10000px;
	}

	#pu656
	{
		width: 0.01px;
	}

	#u656_align_to_page
	{
		max-width: 1200px;
		padding-top: 83px;
		padding-bottom: 267px;
	}

	#u664-6
	{
		z-index: 17;
		width: 870px;
		min-height: 132px;
		line-height: 54px;
		left: 20px;
	}

	#u665-6
	{
		z-index: 23;
		width: 618px;
		margin-right: -10000px;
		left: 20px;
	}

	#u731
	{
		z-index: 166;
		width: 191px;
		margin-top: 43px;
		left: 329px;
	}

	#u733-4
	{
		z-index: 168;
		margin-right: -10000px;
		margin-top: 121px;
		left: 24px;
	}

	#u734
	{
		z-index: 172;
		width: 20px;
		margin-top: 125px;
		left: 471px;
	}

	#u736-5
	{
		z-index: 174;
		width: 100px;
		min-height: 49px;
		margin-top: 115px;
		left: 371px;
	}

	#u737-5
	{
		z-index: 179;
		width: 39px;
		min-height: 49px;
		margin-top: 76px;
		left: 428px;
	}

	#u738
	{
		z-index: 184;
		width: 22px;
		margin-top: 83px;
		left: 467px;
	}

	#u740
	{
		z-index: 186;
		width: 42px;
		margin-top: 95px;
		left: 423px;
	}

	#u745
	{
		z-index: 194;
		width: 370px;
		left: 33px;
		margin-top: 93px;
	}

	#u747
	{
		z-index: 195;
		width: 370px;
		min-height: 80px;
	}

	#u746-4
	{
		z-index: 196;
		width: 135px;
		min-height: 48px;
		margin-top: 21px;
		left: 124px;
	}

	#u746-4.MuseLinkActive
	{
		margin-left: 0px;
		margin-top: 21px;
		min-height: 48px;
		width: 135px;
	}

	#u656,#u656-bw
	{
		z-index: 6;
		min-height: 888px;
	}

	#u660
	{
		z-index: 10;
		width: 198px;
		height: 198px;
		background-image: url("../images/shutterstock_120095254-ieu660-fr.png");
		margin-bottom: -5px;
		margin-top: 859px;
		left: 83px;
	}

	.round
	{
		-pie-background: url("../images/shutterstock_120095254-ieu660-fr.png");
	}

	#u663-4
	{
		z-index: 13;
		width: 317px;
		line-height: 36px;
		margin-left: 23px;
		margin-top: 41px;
	}

	#u666-5
	{
		z-index: 29;
		width: 225px;
		min-height: 94px;
		line-height: 22px;
		font-size: 18px;
		margin-left: 23px;
		margin-top: 1px;
	}

	#u653
	{
		min-height: 841px;
	}

	#u653_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		max-width: 1200px;
		padding-top: 183px;
		padding-bottom: 212px;
	}

	#u668-4
	{
		z-index: 38;
		width: 629px;
		margin-right: -10000px;
		margin-top: 51px;
		left: 419px;
	}

	#u673-4
	{
		z-index: 58;
		width: 629px;
		line-height: 36px;
		margin-right: -10000px;
		left: 419px;
	}

	#u678-4
	{
		z-index: 74;
		width: 629px;
		min-height: 57px;
		line-height: 36px;
		left: 419px;
		margin-top: 24px;
	}

	#u669-4
	{
		z-index: 42;
		width: 629px;
		left: 419px;
		top: -7px;
		margin-bottom: -7px;
	}

	#pu670-4
	{
		margin-top: 48px;
		position: relative;
		width: 100%;
	}

	#u670-4
	{
		z-index: 46;
		width: 635px;
		margin-right: -10000px;
		margin-top: 49px;
		left: 413px;
	}

	#u679-4
	{
		z-index: 78;
		width: 408px;
		min-height: 70px;
		line-height: 36px;
		margin-right: -10000px;
		left: 413px;
	}

	#u653-bw
	{
		min-height: 841px;
		margin-top: 99px;
	}

	#u683
	{
		z-index: 91;
		width: 1147px;
		background-color: transparent;
		margin-left: 33px;
		margin-top: 14px;
		position: relative;
	}

	#pu654
	{
		width: 0.01px;
		margin-top: 134px;
	}

	#u654_align_to_page
	{
		max-width: 1200px;
		padding-top: 139px;
		padding-bottom: 229px;
	}

	#pu665-6,#pu668-4,#pu685
	{
		position: relative;
		width: 100%;
	}

	#u685
	{
		z-index: 93;
		width: 235px;
		margin-right: -10000px;
		left: 33px;
	}

	#u674-4
	{
		z-index: 62;
		width: 406px;
		line-height: 36px;
		margin-right: -10000px;
		margin-top: 76px;
		left: 285px;
	}

	#pu687
	{
		margin-top: 22px;
		position: relative;
		width: 100%;
	}

	#u687
	{
		z-index: 95;
		width: 235px;
		margin-right: -10000px;
		left: 24px;
	}

	#u675-4
	{
		z-index: 66;
		width: 406px;
		line-height: 36px;
		margin-right: -10000px;
		margin-top: 86px;
		left: 285px;
	}

	#u676-4
	{
		z-index: 70;
		width: 406px;
		line-height: 36px;
		left: 287px;
		margin-top: 85px;
	}

	#u654,#u654-bw
	{
		z-index: 4;
		min-height: 1056px;
	}

	#u689
	{
		z-index: 97;
		width: 235px;
		margin-right: -10000px;
		margin-top: 658px;
		left: 24px;
	}

	#u691
	{
		z-index: 99;
		width: 383px;
		background-color: transparent;
		margin-left: 24px;
		margin-top: 444px;
		position: relative;
	}

	#u652
	{
		min-height: 868px;
		background-image: url("../images/u652-grad.png");
		background: -webkit-gradient(linear, center top, center bottom, color-stop(52%, #212D4D),to(#000000));
		background: -webkit-linear-gradient(top,#212D4D 52%,#000000 );
		background: linear-gradient(to bottom,#212D4D 52%,#000000 );
		padding-bottom: 198px;
	}

	#u652_align_to_page
	{
		max-width: 1200px;
	}

	#u681
	{
		z-index: 86;
		width: 226px;
		margin-right: -10000px;
		margin-top: 750px;
		left: 947px;
	}

	#u682-4
	{
		z-index: 87;
		width: 146px;
		left: 58px;
	}

	#u722
	{
		z-index: 151;
		width: 673px;
		margin-top: 534px;
		left: 25px;
	}

	#u724-7
	{
		z-index: 153;
		width: 504px;
		margin-right: -10000px;
		margin-top: 547px;
		left: 669px;
	}

	#u652-bw
	{
		min-height: 868px;
		margin-top: 704px;
	}

	#pamphletu696
	{
		z-index: 104;
		height: 687px;
		padding-bottom: 23px;
		margin-top: 4782px;
		left: -505px;
	}

	#u703popup
	{
		z-index: 105;
	}

	#u704
	{
		z-index: 106;
		height: 625px;
	}

	#u707
	{
		z-index: 115;
		width: 208px;
		height: 207px;
		margin-right: -10000px;
		margin-top: 222px;
		left: 134px;
	}

	#u705-4
	{
		z-index: 107;
		margin-top: 217px;
		width: 48.26%;
		left: 38.31%;
	}

	#u706-4
	{
		z-index: 111;
		width: 452px;
		font-size: 18px;
		line-height: 22px;
		margin-right: -10000px;
		margin-top: 251px;
		left: 362px;
	}

	#u708
	{
		z-index: 116;
		height: 625px;
	}

	#u711
	{
		z-index: 125;
		width: 208px;
		height: 207px;
		margin-right: -10000px;
		margin-top: 222px;
		left: 134px;
	}

	#u709-4
	{
		z-index: 117;
		margin-top: 217px;
		width: 48.26%;
		left: 38.21%;
	}

	#u710-4
	{
		z-index: 121;
		width: 452px;
		font-size: 18px;
		line-height: 22px;
		margin-right: -10000px;
		margin-top: 250px;
		left: 361px;
	}

	#u712
	{
		z-index: 126;
		height: 625px;
	}

	#u714
	{
		z-index: 136;
		width: 208px;
		height: 207px;
		-pie-background: url("../images/boy-dp-girl-tumblr-favimcom-3304924-ieu714-fr.png");
		margin-right: -10000px;
		margin-top: 222px;
		left: 134px;
	}

	#u713-4
	{
		z-index: 127;
		margin-top: 217px;
		left: 38.21%;
	}

	#u715-5
	{
		z-index: 131;
		width: 452px;
		font-size: 18px;
		line-height: 22px;
		margin-right: -10000px;
		margin-top: 250px;
		left: 361px;
	}

	#u715-2
	{
		font-weight: 700;
		font-style: italic;
	}

	#u716
	{
		z-index: 137;
		margin-top: 678px;
		left: 442px;
	}

	#u700
	{
		width: 66px;
		padding-bottom: 4px;
		top: 645px;
		left: 56px;
	}

	#u701
	{
		z-index: 142;
		margin-top: 12px;
		left: 8px;
	}

	#u697
	{
		width: 57px;
		padding-bottom: 7px;
		top: 633px;
		left: 896px;
	}

	#u698
	{
		z-index: 145;
		margin-top: 6px;
		left: 7px;
	}

	#ppu741
	{
		width: 0.01px;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 546px;
		margin-left: 151px;
	}

	#pu741
	{
		width: 0.01px;
		margin-left: 709px;
	}

	#u741
	{
		z-index: 187;
		width: 295px;
		height: 78px;
	}

	#u742
	{
		z-index: 188;
		width: 59px;
		left: 13px;
	}

	#u744-4
	{
		z-index: 190;
		width: 180px;
		margin-top: 11px;
		left: 87px;
	}

	#pu661
	{
		width: 0.01px;
		margin-left: 346px;
		margin-top: 240px;
	}

	#u661
	{
		z-index: 11;
		width: 198px;
		height: 198px;
		-pie-background: url("../images/split_0012_%d1%81%d0%bb%d0%be%d0%b9-1png-ieu661-fr.png");
		margin-bottom: -5px;
		margin-top: -5px;
		left: -5px;
	}

	#u662
	{
		z-index: 12;
		width: 198px;
		height: 198px;
		-pie-background: url("../images/split_0011_%d1%81%d0%bb%d0%be%d0%b9-2-ieu662-fr.png");
		margin-bottom: -5px;
		margin-top: -5px;
		left: 401px;
	}

	#ppu672-4
	{
		width: 0.01px;
		margin-left: 262px;
		margin-top: 37px;
	}

	#pu672-4
	{
		width: 0.01px;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 2px;
	}

	#u672-4
	{
		z-index: 54;
		width: 373px;
		line-height: 36px;
		font-size: 30px;
	}

	#u667-4
	{
		z-index: 34;
		width: 225px;
		line-height: 22px;
		font-size: 18px;
		margin-top: 1px;
	}

	#pu680-4
	{
		width: 0.01px;
		margin-right: -10000px;
		margin-left: 392px;
	}

	#u680-4
	{
		z-index: 82;
		width: 374px;
		min-height: 90px;
		line-height: 36px;
		font-size: 30px;
		margin-left: 1px;
	}

	#u671-4
	{
		z-index: 50;
		width: 225px;
		line-height: 22px;
		font-size: 18px;
		margin-top: 18px;
	}

	#u2289
	{
		z-index: 200;
		margin-left: 938px;
		margin-top: 2570px;
	}

	#pu693
	{
		width: 0.01px;
		padding-bottom: 25px;
		margin-top: 97px;
	}

	#u693
	{
		z-index: 101;
		width: 398px;
		background-color: transparent;
		-webkit-transform: matrix(0.9903,0.1392,-0.1392,0.9903,34,-25);
		-ms-transform: matrix(0.9903,0.1392,-0.1392,0.9903,34,-25);
		transform: matrix(0.9903,0.1392,-0.1392,0.9903,34,-25);
		position: relative;
		margin-right: -10000px;
		margin-top: 256px;
		left: 610px;
	}

	#u695
	{
		z-index: 103;
		width: 896px;
		height: 491px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		max-width: 100000px;
		min-width: 100px;
		position: relative;
		margin-right: -10000px;
	}

	#u1307-4
	{
		z-index: 147;
		min-height: 70px;
		line-height: 54px;
		font-size: 45px;
		margin-left: 344px;
		margin-top: 46px;
	}

	#u725
	{
		z-index: 160;
		left: 1251px;
	}

	#pu727
	{
		width: 0.01px;
		margin-left: 1396px;
	}

	#u727
	{
		z-index: 162;
		margin-left: 37px;
	}

	#u726
	{
		z-index: 161;
	}

	#u655
	{
		z-index: 5;
		left: 1983px;
	}
}

@media (min-width: 481px) and (max-width: 680px)
{
	#muse_css_mq
	{
		background-color: #0002a8;
	}

	#bp_680.active
	{
		display: block;
	}

	#page
	{
		min-height: 7510px;
		padding-bottom: 62px;
		max-width: 680px;
	}

	#pu652
	{
		margin-right: -10000px;
		width: 301.92%;
		margin-left: -100.96%;
	}

	#u652
	{
		min-height: 958.8499999999995px;
		background-image: url("../images/u652-grad2.png");
		background: -webkit-gradient(linear, center top, center bottom, color-stop(52%, #212D4D),to(#000000));
		background: -webkit-linear-gradient(top,#212D4D 52%,#000000 );
		background: linear-gradient(to bottom,#212D4D 52%,#000000 );
		padding-bottom: 0px;
	}

	#u652_align_to_page
	{
		max-width: 680px;
		padding-top: 458px;
		padding-bottom: 198px;
	}

	#u724-7
	{
		z-index: 149;
		width: 462px;
		margin-left: 50%;
		left: -241px;
	}

	#u681
	{
		z-index: 87;
		width: 376px;
		margin-top: 52px;
		margin-left: 50%;
		left: -188px;
	}

	#u682-4
	{
		z-index: 88;
		width: 177px;
		margin-left: 50%;
		left: -64px;
	}

	#u652-bw
	{
		min-height: 958.8499999999995px;
		margin-top: 7546px;
	}

	#u653
	{
		height: 841px;
	}

	#u653-bw
	{
		margin-top: 3730px;
		height: 841px;
	}

	#u1317
	{
		z-index: 4;
		min-height: 892px;
		background: transparent url("../images/u1317-grad.png") repeat-x left top;
		background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0)),color-stop(90%, #FFFFFF));
		background: -webkit-linear-gradient(top,rgba(255,255,255,0) ,#FFFFFF 90%);
		background: linear-gradient(to bottom,rgba(255,255,255,0) ,#FFFFFF 90%);
		background-size: cover;
	}

	#u1317_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		max-width: 680px;
		padding-top: 163px;
		padding-bottom: 117px;
	}

	#u673-4
	{
		z-index: 59;
		width: 376px;
		line-height: 29px;
		font-size: 24px;
		margin-left: 50%;
		left: -188px;
	}

	#u668-4
	{
		z-index: 39;
		width: 376px;
		margin-top: 13px;
		margin-left: 50%;
		left: -188px;
	}

	#u678-4
	{
		z-index: 75;
		width: 376px;
		min-height: 35px;
		line-height: 29px;
		font-size: 24px;
		margin-top: 75px;
		margin-left: 50%;
		left: -188px;
	}

	#u669-4
	{
		z-index: 43;
		width: 376px;
		margin-top: 11px;
		margin-left: 50%;
		left: -188px;
	}

	#u679-4
	{
		z-index: 79;
		width: 376px;
		min-height: 38px;
		line-height: 29px;
		font-size: 24px;
		margin-top: 45px;
		margin-left: 50%;
		left: -188px;
	}

	#u670-4
	{
		z-index: 47;
		width: 376px;
		margin-top: 7px;
		margin-left: 50%;
		left: -188px;
	}

	#u1317-bw
	{
		z-index: 4;
		min-height: 892px;
		margin-top: 3730px;
	}

	#u654
	{
		z-index: 5;
		min-height: 1192.7000000000007px;
		padding-bottom: 0px;
	}

	#u654_align_to_page
	{
		max-width: 680px;
		padding-top: 99px;
		padding-bottom: 153px;
	}

	#u685
	{
		z-index: 94;
		width: 165px;
		margin-left: 50%;
		left: -83px;
	}

	#u674-4
	{
		z-index: 63;
		width: 280px;
		line-height: 29px;
		font-size: 24px;
		margin-top: 40px;
		margin-left: 50%;
		left: -140px;
	}

	#u687
	{
		z-index: 96;
		width: 165px;
		margin-top: 21px;
		margin-left: 50%;
		left: -83px;
	}

	#u675-4
	{
		z-index: 67;
		width: 281px;
		line-height: 29px;
		font-size: 24px;
		margin-top: 22px;
		margin-left: 50%;
		left: -141px;
	}

	#u689
	{
		z-index: 98;
		width: 165px;
		margin-top: 77px;
		margin-left: 50%;
		left: -83px;
	}

	#u676-4
	{
		z-index: 71;
		width: 281px;
		line-height: 29px;
		font-size: 24px;
		margin-top: 13px;
		margin-left: 50%;
		left: -141px;
	}

	#u654-bw
	{
		z-index: 5;
		min-height: 1192.7000000000007px;
		margin-top: 5203px;
	}

	#u656
	{
		z-index: 7;
		min-height: 986.5500000000017px;
		padding-bottom: 0px;
	}

	#u656_align_to_page
	{
		max-width: 680px;
		padding-top: 20px;
		padding-bottom: 127px;
	}

	#pu741
	{
		position: relative;
		width: 100%;
	}

	#u741
	{
		z-index: 183;
		width: 250px;
		height: 74px;
		margin-left: 50%;
		left: -123px;
	}

	#u742
	{
		z-index: 184;
		width: 51px;
		margin-left: 50%;
		left: -111px;
	}

	#u744-4
	{
		z-index: 186;
		width: 175px;
		margin-top: 7px;
		margin-left: 50%;
		left: -53px;
	}

	#u664-6
	{
		z-index: 18;
		width: 462px;
		min-height: 87px;
		line-height: 29px;
		font-size: 24px;
		text-align: left;
		margin-top: 85px;
		margin-left: 50%;
		left: -231px;
	}

	#u665-6
	{
		z-index: 24;
		width: 462px;
		margin-left: 50%;
		left: -231px;
	}

	#u733-4
	{
		z-index: 164;
		margin-top: 32px;
		margin-left: 50%;
		left: -139px;
	}

	#pu731
	{
		margin-top: 49px;
		position: relative;
		width: 100%;
	}

	#u731
	{
		z-index: 162;
		width: 239px;
		margin-left: 50%;
		left: -120px;
	}

	#u734
	{
		z-index: 168;
		width: 24px;
		margin-top: 102px;
		margin-left: 50%;
		left: 58px;
	}

	#u736-5
	{
		z-index: 170;
		width: 125px;
		min-height: 61px;
		margin-top: 90px;
		margin-left: 50%;
		left: -66px;
	}

	#u737-5
	{
		z-index: 175;
		width: 49px;
		min-height: 61px;
		margin-top: 41px;
		margin-left: 50%;
		left: -26px;
	}

	#u738
	{
		z-index: 180;
		width: 28px;
		margin-top: 49px;
		margin-left: 50%;
		left: 29px;
	}

	#u740
	{
		z-index: 182;
		width: 53px;
		margin-top: 60px;
		margin-left: 50%;
		left: -29px;
	}

	#u745
	{
		z-index: 190;
		width: 462px;
		margin-top: 27px;
		margin-left: 50%;
		left: -231px;
	}

	#u747
	{
		z-index: 191;
		width: 462px;
		min-height: 90px;
		margin-left: 50%;
		left: -231px;
	}

	#u746-4
	{
		z-index: 192;
		width: 337px;
		min-height: 54px;
		margin-top: 24px;
		margin-left: 50%;
		left: -168px;
	}

	#u746-4.MuseLinkActive
	{
		margin-top: 24px;
		min-height: 54px;
		width: 337px;
		margin-left: 50%;
		left: -168px;
	}

	#u656-bw
	{
		z-index: 7;
		min-height: 986.5500000000017px;
	}

	#u657
	{
		z-index: 8;
		height: 2812px;
		-webkit-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-72,52);
		-ms-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-72,52);
		transform: matrix(0.9986,-0.0523,0.0523,0.9986,-72,52);
		margin-right: -10000px;
		margin-top: 943px;
		width: 92.94%;
		margin-left: 3.54%;
		left: 42.49999999999977px;
	}

	#u658
	{
		z-index: 9;
		height: 616px;
		background-color: #FFFFFF;
		-webkit-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-15,50);
		-ms-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-15,50);
		transform: matrix(0.9986,-0.0523,0.0523,0.9986,-15,50);
		position: relative;
		margin-right: -10000px;
		margin-top: 4603px;
		width: 92.94%;
		margin-left: 3.54%;
		left: 23.499999999999773px;
	}

	#u659
	{
		z-index: 10;
		height: 1256px;
		-webkit-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-32,51);
		-ms-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-32,51);
		transform: matrix(0.9986,-0.0523,0.0523,0.9986,-32,51);
		margin-right: -10000px;
		margin-top: 6321px;
		width: 92.94%;
		margin-left: 3.54%;
		left: 34.49999999999977px;
	}

	#u660
	{
		z-index: 11;
		width: 362px;
		height: 362px;
		background-image: url("../images/shutterstock_120095254.jpg");
		-pie-background: url("../images/shutterstock_120095254-ieu660-fr2.png");
		margin-top: 1147px;
		margin-left: 50%;
		left: -185.50000000000023px;
	}

	.round
	{
		-pie-background: url("../images/shutterstock_120095254-ieu660-fr2.png");
	}

	#u661
	{
		z-index: 12;
		width: 362px;
		height: 362px;
		-pie-background: url("../images/split_0012_%d1%81%d0%bb%d0%be%d0%b9-1png-ieu661-fr2.png");
		margin-top: 1904px;
		margin-left: 50%;
		left: -186.50000000000023px;
	}

	#u662
	{
		z-index: 13;
		width: 362px;
		height: 362px;
		-pie-background: url("../images/split_0011_%d1%81%d0%bb%d0%be%d0%b9-2-ieu662-fr2.png");
		margin-top: 2716px;
		margin-left: 50%;
		left: -193.50000000000023px;
	}

	#u663-4
	{
		z-index: 14;
		width: 462px;
		line-height: 36px;
		font-size: 30px;
		text-align: center;
		margin-right: -10000px;
		margin-top: 1548px;
		margin-left: 50%;
		left: -231.50000000000023px;
	}

	#u666-5
	{
		z-index: 30;
		width: 462px;
		min-height: 63px;
		margin-right: -10000px;
		margin-top: 1639px;
		margin-left: 50%;
		left: -231.50000000000023px;
	}

	#u666-2
	{
		font-size: 24px;
		text-align: left;
		line-height: 29px;
	}

	#u666-3
	{
		font-size: 18px;
		line-height: 22px;
	}

	#u667-4
	{
		z-index: 35;
		width: 376px;
		line-height: 29px;
		font-size: 24px;
		text-align: left;
		margin-right: -10000px;
		margin-top: 2412px;
		margin-left: 50%;
		left: -188.50000000000023px;
	}

	#u671-4
	{
		z-index: 51;
		width: 369px;
		line-height: 29px;
		font-size: 24px;
		margin-right: -10000px;
		margin-top: 3266px;
		margin-left: 50%;
		left: -188.50000000000023px;
	}

	#u672-4
	{
		z-index: 55;
		width: 376px;
		line-height: 36px;
		font-size: 30px;
		text-align: center;
		margin-right: -10000px;
		margin-top: 2316px;
		margin-left: 50%;
		left: -188.50000000000023px;
	}

	#u680-4
	{
		z-index: 83;
		width: 376px;
		min-height: 68px;
		line-height: 36px;
		font-size: 30px;
		margin-right: -10000px;
		margin-top: 3144px;
		margin-left: 50%;
		left: -188.50000000000023px;
	}

	#u683
	{
		z-index: 92;
		width: 631px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 4757px;
		margin-left: 50%;
		left: -316.5000000000002px;
	}

	#pamphletu696
	{
		z-index: 100;
		height: 822px;
		padding-bottom: 59px;
		margin-top: 6562px;
		left: -505.5000000000002px;
	}

	#u703popup
	{
		z-index: 101;
	}

	#u704
	{
		z-index: 102;
		height: 881px;
	}

	#pu707
	{
		width: 0.01px;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 76px;
		margin-left: 365px;
	}

	#u707
	{
		z-index: 111;
		width: 183px;
		height: 183px;
		margin-left: 49px;
	}

	#u706-4
	{
		z-index: 107;
		width: 280px;
		font-size: 14px;
		margin-top: 67px;
	}

	#u705-4
	{
		z-index: 103;
		margin-top: 286px;
		width: 29.63%;
		left: 38.63%;
	}

	#u708
	{
		z-index: 112;
		height: 881px;
	}

	#u711
	{
		z-index: 121;
		width: 183px;
		height: 183px;
		-pie-background: url("../images/88698235_komyza307-ieu711-fr.png");
		margin-left: 48px;
	}

	#u710-4
	{
		z-index: 117;
		width: 280px;
		font-size: 14px;
		margin-top: 149px;
	}

	#u709-4
	{
		z-index: 113;
		margin-top: 286px;
		width: 29.63%;
		left: 38.63%;
	}

	#u712
	{
		z-index: 122;
		height: 881px;
	}

	#pu711,#pu714
	{
		width: 0.01px;
		margin-right: -10000px;
		margin-top: 76px;
		margin-left: 365px;
	}

	#u714
	{
		z-index: 132;
		width: 183px;
		height: 183px;
		-pie-background: url("../images/boy-dp-girl-tumblr-favimcom-3304924-ieu714-fr2.png");
		margin-left: 48px;
	}

	#u715-5
	{
		z-index: 127;
		width: 280px;
		font-size: 14px;
		margin-top: 75px;
	}

	#u713-4
	{
		z-index: 123;
		margin-top: 300px;
		left: 38.74%;
	}

	#u716
	{
		z-index: 133;
		margin-top: 812px;
		left: 480px;
	}

	#u700
	{
		width: 84px;
		padding-bottom: 15px;
		top: 777px;
		left: 368px;
	}

	#u701
	{
		z-index: 138;
		margin-top: 18px;
		left: 15px;
	}

	#u697
	{
		width: 87px;
		padding-bottom: 16px;
		top: 777px;
		left: 558px;
	}

	#u698
	{
		z-index: 141;
		margin-top: 17px;
		left: 25px;
	}

	#u1307-4
	{
		z-index: 143;
		min-height: 37px;
		line-height: 29px;
		font-size: 24px;
		margin-right: -10000px;
		margin-top: 6518px;
		margin-left: 50%;
		left: -108.50000000000023px;
	}

	#u722
	{
		z-index: 147;
		width: 432px;
		-webkit-transform: matrix(0.9976,-0.0698,0.0698,0.9976,-7,15);
		-ms-transform: matrix(0.9976,-0.0698,0.0698,0.9976,-7,15);
		transform: matrix(0.9976,-0.0698,0.0698,0.9976,-7,15);
		margin-top: 7723px;
		margin-left: 50%;
		left: -214.50000000000023px;
	}

	#u728
	{
		z-index: 159;
		margin-right: -10000px;
		margin-top: 351px;
		margin-left: 50%;
		left: -480.5000000000002px;
	}

	#u729
	{
		z-index: 160;
		margin-right: -10000px;
		margin-top: 448px;
		margin-left: 50%;
		left: -480.5000000000002px;
	}

	#u730
	{
		z-index: 161;
		margin-right: -10000px;
		margin-top: 544px;
		margin-left: 50%;
		left: -480.5000000000002px;
	}

	#u2289
	{
		z-index: 196;
		margin-right: -10000px;
		margin-top: 3889px;
		left: 1089px;
	}

	#u725
	{
		z-index: 156;
		margin-left: 50%;
		left: 1091px;
	}

	#pu727
	{
		width: 20.15%;
		margin-left: 39.93%;
	}

	#u727
	{
		z-index: 158;
		margin-left: 50%;
		left: 1272.5px;
	}

	#u726
	{
		z-index: 157;
		margin-left: 50%;
		left: 1235.5px;
	}

	#u655
	{
		z-index: 6;
		margin-left: 50%;
		left: 1823px;
	}

	.ie #u655
	{
		margin-left: 50%;
		left: 1823px;
	}
}

@media (min-width: 321px) and (max-width: 480px)
{
	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 7194px;
		padding-bottom: 62px;
		max-width: 480px;
	}

	#ppu653
	{
		margin-right: -10000px;
		width: 301.67%;
		margin-left: -100.84%;
	}

	#pu653
	{
		width: 100%;
		margin-left: 0%;
	}

	#u653
	{
		height: 841px;
	}

	#u653-bw
	{
		margin-top: 2797px;
		height: 841px;
	}

	#u1317
	{
		z-index: 4;
		min-height: 891.9500000000021px;
		background: transparent url("../images/u1317-grad.png") repeat-x left top;
		background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0)),color-stop(90%, #FFFFFF));
		background: -webkit-linear-gradient(top,rgba(255,255,255,0) ,#FFFFFF 90%);
		background: linear-gradient(to bottom,rgba(255,255,255,0) ,#FFFFFF 90%);
		padding-bottom: 0px;
		background-size: cover;
	}

	#u1317_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		max-width: 480px;
		padding-top: 191px;
		padding-bottom: 58px;
	}

	#u673-4
	{
		z-index: 58;
		width: 279px;
		line-height: 29px;
		font-size: 24px;
		margin-left: 50%;
		left: -140px;
	}

	#u668-4
	{
		z-index: 38;
		width: 280px;
		margin-top: 10px;
		margin-left: 50%;
		left: -141px;
	}

	#u678-4
	{
		z-index: 74;
		width: 280px;
		min-height: 57px;
		line-height: 29px;
		font-size: 24px;
		margin-top: 68px;
		margin-left: 50%;
		left: -140px;
	}

	#u669-4
	{
		z-index: 42;
		width: 276px;
		margin-top: 5px;
		margin-left: 50%;
		left: -137px;
	}

	#u679-4
	{
		z-index: 78;
		width: 290px;
		min-height: 38px;
		line-height: 29px;
		font-size: 24px;
		margin-top: 91px;
		margin-left: 50%;
		left: -141px;
	}

	#u1317-bw
	{
		z-index: 4;
		min-height: 891.9500000000021px;
		margin-top: 2797px;
	}

	#u656_align_to_page
	{
		max-width: 480px;
		padding-top: 20px;
		padding-bottom: 200px;
	}

	#pu741
	{
		position: relative;
		width: 100%;
	}

	#u741
	{
		z-index: 180;
		width: 279px;
		height: 74px;
		margin-left: 50%;
		left: -139px;
	}

	#u742
	{
		z-index: 181;
		width: 51px;
		margin-left: 50%;
		left: -122px;
	}

	#u744-4
	{
		z-index: 183;
		width: 180px;
		margin-top: 7px;
		margin-left: 50%;
		left: -52px;
	}

	#u664-6
	{
		z-index: 17;
		width: 280px;
		min-height: 102px;
		line-height: 29px;
		font-size: 24px;
		text-align: left;
		margin-top: 53px;
		margin-left: 50%;
		left: -140px;
	}

	#u665-6
	{
		z-index: 23;
		width: 277px;
		margin-top: 17px;
		margin-left: 50%;
		left: -137px;
	}

	#u733-4
	{
		z-index: 161;
		margin-top: 3px;
		margin-left: 50%;
		left: -139px;
	}

	#pu731
	{
		margin-top: 29px;
		position: relative;
		width: 100%;
	}

	#u731
	{
		z-index: 159;
		width: 191px;
		margin-left: 50%;
		left: -92px;
	}

	#u734
	{
		z-index: 165;
		width: 20px;
		margin-top: 81px;
		margin-left: 50%;
		left: 50px;
	}

	#u736-5
	{
		z-index: 167;
		width: 100px;
		min-height: 49px;
		margin-top: 72px;
		margin-left: 50%;
		left: -49px;
	}

	#u737-5
	{
		z-index: 172;
		width: 39px;
		min-height: 49px;
		margin-top: 33px;
		margin-left: 50%;
		left: -17px;
	}

	#u738
	{
		z-index: 177;
		width: 22px;
		margin-top: 39px;
		margin-left: 50%;
		left: 27px;
	}

	#u740
	{
		z-index: 179;
		width: 42px;
		margin-top: 50px;
		margin-left: 50%;
		left: -19px;
	}

	#u745
	{
		z-index: 187;
		width: 280px;
		margin-top: 42px;
		margin-left: 50%;
		left: -140px;
	}

	#u747
	{
		z-index: 188;
		width: 280px;
		min-height: 69px;
		margin-left: 50%;
		left: -140px;
	}

	#u746-4
	{
		z-index: 189;
		width: 204px;
		min-height: 41px;
		margin-top: 18px;
		margin-left: 50%;
		left: -102px;
	}

	#u746-4.MuseLinkActive
	{
		margin-top: 18px;
		min-height: 41px;
		width: 204px;
		margin-left: 50%;
		left: -102px;
	}

	#u656,#u656-bw
	{
		z-index: 7;
		min-height: 986px;
	}

	#u657
	{
		z-index: 8;
		height: 1960px;
		-webkit-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-50,37);
		-ms-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-50,37);
		transform: matrix(0.9986,-0.0523,0.0523,0.9986,-50,37);
		margin-right: -10000px;
		margin-top: 958px;
		width: 93.03%;
		margin-left: 3.49%;
		left: 19.000000000000114px;
	}

	#u660
	{
		z-index: 10;
		width: 244px;
		height: 244px;
		background-image: url("../images/shutterstock_120095254-ieu660-fr3.png");
		margin-top: 1114px;
		margin-left: 50%;
		left: -121.99999999999989px;
	}

	.round
	{
		-pie-background: url("../images/shutterstock_120095254-ieu660-fr3.png");
	}

	#u661
	{
		z-index: 11;
		width: 244px;
		height: 244px;
		-pie-background: url("../images/split_0012_%d1%81%d0%bb%d0%be%d0%b9-1png-ieu661-fr.png");
		margin-top: 1647px;
		margin-left: 50%;
		left: -127.99999999999989px;
	}

	#u662
	{
		z-index: 12;
		width: 244px;
		height: 244px;
		-pie-background: url("../images/split_0011_%d1%81%d0%bb%d0%be%d0%b9-2-ieu662-fr2.png");
		margin-top: 2279px;
		margin-left: 50%;
		left: -127.99999999999989px;
	}

	#u663-4
	{
		z-index: 13;
		width: 280px;
		line-height: 29px;
		font-size: 24px;
		text-align: center;
		margin-right: -10000px;
		margin-top: 1399px;
		margin-left: 50%;
		left: -139.9999999999999px;
	}

	#u666-5
	{
		z-index: 29;
		width: 280px;
		min-height: 63px;
		line-height: 22px;
		font-size: 18px;
		margin-right: -10000px;
		margin-top: 1479px;
		margin-left: 50%;
		left: -139.9999999999999px;
	}

	#u667-4
	{
		z-index: 34;
		width: 280px;
		line-height: 22px;
		font-size: 18px;
		margin-right: -10000px;
		margin-top: 2012px;
		margin-left: 50%;
		left: -139.9999999999999px;
	}

	#u670-4
	{
		z-index: 46;
		width: 280px;
		margin-right: -10000px;
		margin-top: 3638px;
		margin-left: 50%;
		left: -140.9999999999999px;
	}

	#u671-4
	{
		z-index: 50;
		width: 277px;
		line-height: 22px;
		font-size: 18px;
		margin-right: -10000px;
		margin-top: 2663px;
		margin-left: 50%;
		left: -141.9999999999999px;
	}

	#u672-4
	{
		z-index: 54;
		width: 280px;
		line-height: 29px;
		font-size: 24px;
		text-align: center;
		margin-right: -10000px;
		margin-top: 1932px;
		margin-left: 50%;
		left: -139.9999999999999px;
	}

	#u680-4
	{
		z-index: 82;
		width: 275px;
		min-height: 90px;
		line-height: 29px;
		font-size: 24px;
		margin-right: -10000px;
		margin-top: 2564px;
		margin-left: 50%;
		left: -139.9999999999999px;
	}

	#u728
	{
		z-index: 156;
		margin-right: -10000px;
		margin-top: 351px;
		margin-left: 50%;
		left: -479.9999999999999px;
	}

	#u729
	{
		z-index: 157;
		margin-right: -10000px;
		margin-top: 448px;
		margin-left: 50%;
		left: -479.9999999999999px;
	}

	#u730
	{
		z-index: 158;
		margin-right: -10000px;
		margin-top: 544px;
		margin-left: 50%;
		left: -479.9999999999999px;
	}

	#pu652
	{
		margin-top: 153px;
		width: 97.45%;
		margin-left: 1.28%;
	}

	#u652
	{
		min-height: 959px;
		background-image: url("../images/u652-grad2.png");
		background: -webkit-gradient(linear, center top, center bottom, color-stop(52%, #212D4D),to(#000000));
		background: -webkit-linear-gradient(top,#212D4D 52%,#000000 );
		background: linear-gradient(to bottom,#212D4D 52%,#000000 );
	}

	#u652_align_to_page
	{
		max-width: 480px;
		padding-top: 395px;
		padding-bottom: 139px;
	}

	#u724-7
	{
		z-index: 146;
		width: 280px;
		margin-left: 50%;
		left: -140px;
	}

	#u681
	{
		z-index: 86;
		width: 275px;
		margin-top: 31px;
		margin-left: 50%;
		left: -135px;
	}

	#u682-4
	{
		z-index: 87;
		width: 177px;
		margin-left: 50%;
		left: -67px;
	}

	#u652-bw
	{
		min-height: 959px;
		margin-top: 2375px;
	}

	#u654
	{
		z-index: 5;
		min-height: 1192.7000000000007px;
		padding-bottom: 0px;
	}

	#u654_align_to_page
	{
		max-width: 480px;
		padding-top: 99px;
		padding-bottom: 153px;
	}

	#u685
	{
		z-index: 91;
		width: 165px;
		margin-left: 50%;
		left: -83px;
	}

	#u674-4
	{
		z-index: 62;
		width: 280px;
		line-height: 29px;
		font-size: 24px;
		margin-top: 40px;
		margin-left: 50%;
		left: -140px;
	}

	#u687
	{
		z-index: 93;
		width: 165px;
		margin-top: 21px;
		margin-left: 50%;
		left: -83px;
	}

	#u675-4
	{
		z-index: 66;
		width: 281px;
		line-height: 29px;
		font-size: 24px;
		margin-top: 22px;
		margin-left: 50%;
		left: -141px;
	}

	#u689
	{
		z-index: 95;
		width: 165px;
		margin-top: 77px;
		margin-left: 50%;
		left: -83px;
	}

	#u676-4
	{
		z-index: 70;
		width: 281px;
		line-height: 29px;
		font-size: 24px;
		margin-top: 13px;
		margin-left: 50%;
		left: -141px;
	}

	#u654-bw
	{
		z-index: 5;
		min-height: 1192.7000000000007px;
	}

	#u659
	{
		z-index: 9;
		height: 1256px;
		-webkit-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-32,36);
		-ms-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-32,36);
		transform: matrix(0.9986,-0.0523,0.0523,0.9986,-32,36);
		margin-right: -10000px;
		margin-top: 1132px;
		width: 95.47%;
		margin-left: 2.27%;
		left: 33.50000000000017px;
	}

	#pamphletu696
	{
		z-index: 97;
		height: 822px;
		padding-bottom: 59px;
		margin-top: 1293px;
		left: -505.4999999999999px;
	}

	#u703popup
	{
		z-index: 98;
	}

	#u704
	{
		z-index: 99;
		height: 881px;
	}

	#pu707
	{
		width: 0.01px;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 76px;
		margin-left: 365px;
	}

	#u707
	{
		z-index: 108;
		width: 183px;
		height: 183px;
		margin-left: 49px;
	}

	#u706-4
	{
		z-index: 104;
		width: 280px;
		font-size: 14px;
		margin-top: 67px;
	}

	#u705-4
	{
		z-index: 100;
		margin-top: 286px;
		width: 29.63%;
		left: 38.63%;
	}

	#u708
	{
		z-index: 109;
		height: 881px;
	}

	#u711
	{
		z-index: 118;
		width: 183px;
		height: 183px;
		-pie-background: url("../images/88698235_komyza307-ieu711-fr.png");
		margin-left: 48px;
	}

	#u710-4
	{
		z-index: 114;
		width: 280px;
		font-size: 14px;
		margin-top: 149px;
	}

	#u709-4
	{
		z-index: 110;
		margin-top: 286px;
		width: 29.63%;
		left: 38.63%;
	}

	#u712
	{
		z-index: 119;
		height: 881px;
	}

	#pu711,#pu714
	{
		width: 0.01px;
		margin-right: -10000px;
		margin-top: 76px;
		margin-left: 365px;
	}

	#u714
	{
		z-index: 129;
		width: 183px;
		height: 183px;
		-pie-background: url("../images/boy-dp-girl-tumblr-favimcom-3304924-ieu714-fr2.png");
		margin-left: 48px;
	}

	#u715-5
	{
		z-index: 124;
		width: 280px;
		font-size: 14px;
		margin-top: 75px;
	}

	#u715-2
	{
		font-weight: 700;
		font-style: italic;
	}

	#u713-4
	{
		z-index: 120;
		margin-top: 300px;
		left: 38.74%;
	}

	#u716
	{
		z-index: 130;
		margin-top: 812px;
		left: 480px;
	}

	#u700
	{
		width: 84px;
		padding-bottom: 15px;
		top: 777px;
		left: 368px;
	}

	#u701
	{
		z-index: 135;
		margin-top: 18px;
		left: 15px;
	}

	#u697
	{
		width: 87px;
		padding-bottom: 16px;
		top: 777px;
		left: 558px;
	}

	#u698
	{
		z-index: 138;
		margin-top: 17px;
		left: 25px;
	}

	#u1307-4
	{
		z-index: 140;
		min-height: 37px;
		line-height: 29px;
		font-size: 24px;
		margin-right: -10000px;
		margin-top: 1242px;
		margin-left: 50%;
		left: -108.49999999999983px;
	}

	#u722
	{
		z-index: 144;
		width: 373px;
		-webkit-transform: matrix(0.9986,0.0523,-0.0523,0.9986,5,-10);
		-ms-transform: matrix(0.9986,0.0523,-0.0523,0.9986,5,-10);
		transform: matrix(0.9986,0.0523,-0.0523,0.9986,5,-10);
		margin-top: 2512px;
		margin-left: 50%;
		left: -176.4999999999998px;
	}

	#u2289
	{
		z-index: 193;
		margin-right: -10000px;
		margin-top: 3889px;
		left: 1089px;
	}

	#u725
	{
		z-index: 153;
		margin-left: 50%;
		left: 1091px;
	}

	#pu727
	{
		width: 28.55%;
		margin-left: 35.73%;
	}

	#u727
	{
		z-index: 155;
		margin-left: 50%;
		left: 1272.5px;
	}

	#u726
	{
		z-index: 154;
		margin-left: 50%;
		left: 1235.5px;
	}

	#u655
	{
		z-index: 6;
		margin-left: 50%;
		left: 1823px;
	}

	.ie #u655
	{
		margin-left: 50%;
		left: 1823px;
	}
}

@media (max-width: 320px)
{
	/*

*/

	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 7279px;
		padding-bottom: 307px;
		max-width: 320px;
	}

	#ppu653
	{
		margin-right: -10000px;
		width: 320.32%;
		margin-left: -110.16%;
	}

	#pu653
	{
		width: 97.47%;
		margin-left: 1.27%;
	}

	#u653
	{
		height: 841px;
	}

	#u653-bw
	{
		margin-top: 2797px;
		height: 841px;
	}

	#u1317
	{
		z-index: 4;
		min-height: 891.9500000000021px;
		background: transparent url("../images/u1317-grad.png") repeat-x left top;
		background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0)),color-stop(90%, #FFFFFF));
		background: -webkit-linear-gradient(top,rgba(255,255,255,0) ,#FFFFFF 90%);
		background: linear-gradient(to bottom,rgba(255,255,255,0) ,#FFFFFF 90%);
		padding-bottom: 0px;
		background-size: cover;
	}

	#u1317_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		max-width: 320px;
		padding-top: 191px;
		padding-bottom: 58px;
	}

	#u673-4
	{
		z-index: 58;
		width: 279px;
		line-height: 29px;
		font-size: 24px;
		margin-left: 50%;
		left: -140px;
	}

	#u668-4
	{
		z-index: 38;
		width: 280px;
		margin-top: 10px;
		margin-left: 50%;
		left: -141px;
	}

	#u678-4
	{
		z-index: 74;
		width: 280px;
		min-height: 57px;
		line-height: 29px;
		font-size: 24px;
		margin-top: 87px;
		margin-left: 50%;
		left: -140px;
	}

	#u669-4
	{
		z-index: 42;
		width: 276px;
		margin-top: 5px;
		margin-left: 50%;
		left: -137px;
	}

	#u679-4
	{
		z-index: 78;
		width: 290px;
		min-height: 38px;
		line-height: 29px;
		font-size: 24px;
		margin-top: 72px;
		margin-left: 50%;
		left: -141px;
	}

	#u1317-bw
	{
		z-index: 4;
		min-height: 891.9500000000021px;
		margin-top: 2797px;
	}

	#u656_align_to_page
	{
		max-width: 320px;
		padding-top: 20px;
		padding-bottom: 196px;
	}

	#pu741
	{
		position: relative;
		width: 100%;
	}

	#u741
	{
		z-index: 180;
		width: 279px;
		height: 74px;
		margin-left: 50%;
		left: -139px;
	}

	#u742
	{
		z-index: 181;
		width: 51px;
		margin-left: 50%;
		left: -122px;
	}

	#u744-4
	{
		z-index: 183;
		width: 180px;
		margin-top: 7px;
		margin-left: 50%;
		left: -52px;
	}

	#u664-6
	{
		z-index: 17;
		width: 280px;
		min-height: 102px;
		line-height: 29px;
		font-size: 24px;
		text-align: left;
		margin-top: 53px;
		margin-left: 50%;
		left: -140px;
	}

	#u665-6
	{
		z-index: 23;
		width: 277px;
		margin-top: 17px;
		margin-left: 50%;
		left: -137px;
	}

	#u733-4
	{
		z-index: 161;
		margin-top: 3px;
		margin-left: 50%;
		left: -139px;
	}

	#pu731
	{
		margin-top: 29px;
		position: relative;
		width: 100%;
	}

	#u731
	{
		z-index: 159;
		width: 191px;
		margin-left: 50%;
		left: -92px;
	}

	#u734
	{
		z-index: 165;
		width: 20px;
		margin-top: 81px;
		margin-left: 50%;
		left: 50px;
	}

	#u736-5
	{
		z-index: 167;
		width: 100px;
		min-height: 49px;
		margin-top: 72px;
		margin-left: 50%;
		left: -49px;
	}

	#u737-5
	{
		z-index: 172;
		width: 39px;
		min-height: 49px;
		margin-top: 33px;
		margin-left: 50%;
		left: -17px;
	}

	#u738
	{
		z-index: 177;
		width: 22px;
		margin-top: 39px;
		margin-left: 50%;
		left: 27px;
	}

	#u740
	{
		z-index: 179;
		width: 42px;
		margin-top: 50px;
		margin-left: 50%;
		left: -19px;
	}

	#u745
	{
		z-index: 187;
		width: 280px;
		margin-top: 54px;
		margin-left: 50%;
		left: -140px;
	}

	#u747
	{
		z-index: 188;
		width: 280px;
		min-height: 61px;
		margin-left: 50%;
		left: -140px;
	}

	#u746-4
	{
		z-index: 189;
		width: 204px;
		min-height: 36px;
		margin-top: 16px;
		margin-left: 50%;
		left: -102px;
	}

	#u746-4.MuseLinkActive
	{
		margin-top: 16px;
		min-height: 36px;
		width: 204px;
		margin-left: 50%;
		left: -102px;
	}

	#u656,#u656-bw
	{
		z-index: 7;
		min-height: 986px;
	}

	#u657
	{
		z-index: 8;
		height: 1960px;
		-webkit-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-51,25);
		-ms-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-51,25);
		transform: matrix(0.9986,-0.0523,0.0523,0.9986,-51,25);
		margin-right: -10000px;
		margin-top: 970px;
		width: 89.89%;
		margin-left: 5.06%;
		left: 19.500000000000107px;
	}

	#u660
	{
		z-index: 10;
		width: 244px;
		height: 244px;
		background-image: url("../images/shutterstock_120095254-ieu660-fr3.png");
		margin-top: 1099px;
		margin-left: 50%;
		left: -122.49999999999989px;
	}

	.round
	{
		-pie-background: url("../images/shutterstock_120095254-ieu660-fr3.png");
	}

	#u661
	{
		z-index: 11;
		width: 244px;
		height: 244px;
		-pie-background: url("../images/split_0012_%d1%81%d0%bb%d0%be%d0%b9-1png-ieu661-fr.png");
		margin-top: 1631px;
		margin-left: 50%;
		left: -129.4999999999999px;
	}

	#u662
	{
		z-index: 12;
		width: 244px;
		height: 244px;
		-pie-background: url("../images/split_0011_%d1%81%d0%bb%d0%be%d0%b9-2-ieu662-fr2.png");
		margin-top: 2263px;
		margin-left: 50%;
		left: -129.4999999999999px;
	}

	#u663-4
	{
		z-index: 13;
		width: 280px;
		line-height: 29px;
		font-size: 24px;
		text-align: center;
		margin-right: -10000px;
		margin-top: 1384px;
		margin-left: 50%;
		left: -140.4999999999999px;
	}

	#u666-5
	{
		z-index: 29;
		width: 280px;
		min-height: 63px;
		line-height: 22px;
		font-size: 18px;
		margin-right: -10000px;
		margin-top: 1463px;
		margin-left: 50%;
		left: -140.4999999999999px;
	}

	#u667-4
	{
		z-index: 34;
		width: 280px;
		line-height: 22px;
		font-size: 18px;
		margin-right: -10000px;
		margin-top: 1997px;
		margin-left: 50%;
		left: -140.4999999999999px;
	}

	#u670-4
	{
		z-index: 46;
		width: 280px;
		margin-right: -10000px;
		margin-top: 3638px;
		margin-left: 50%;
		left: -141.4999999999999px;
	}

	#u671-4
	{
		z-index: 50;
		width: 277px;
		line-height: 22px;
		font-size: 18px;
		margin-right: -10000px;
		margin-top: 2647px;
		margin-left: 50%;
		left: -137.4999999999999px;
	}

	#u672-4
	{
		z-index: 54;
		width: 280px;
		line-height: 29px;
		font-size: 24px;
		text-align: center;
		margin-right: -10000px;
		margin-top: 1917px;
		margin-left: 50%;
		left: -140.4999999999999px;
	}

	#u680-4
	{
		z-index: 82;
		width: 275px;
		min-height: 90px;
		line-height: 29px;
		font-size: 24px;
		margin-right: -10000px;
		margin-top: 2548px;
		margin-left: 50%;
		left: -140.4999999999999px;
	}

	#u728
	{
		z-index: 156;
		margin-right: -10000px;
		margin-top: 351px;
		margin-left: 50%;
		left: -480.4999999999999px;
	}

	#u729
	{
		z-index: 157;
		margin-right: -10000px;
		margin-top: 448px;
		margin-left: 50%;
		left: -480.4999999999999px;
	}

	#u730
	{
		z-index: 158;
		margin-right: -10000px;
		margin-top: 544px;
		margin-left: 50%;
		left: -480.4999999999999px;
	}

	#pu652
	{
		margin-top: 193px;
		width: 99.52%;
		margin-left: 0.25%;
	}

	#u652
	{
		min-height: 959px;
		background-image: url("../images/u652-grad2.png");
		background: -webkit-gradient(linear, center top, center bottom, color-stop(52%, #212D4D),to(#000000));
		background: -webkit-linear-gradient(top,#212D4D 52%,#000000 );
		background: linear-gradient(to bottom,#212D4D 52%,#000000 );
	}

	#u652_align_to_page
	{
		max-width: 320px;
		padding-top: 395px;
		padding-bottom: 139px;
	}

	#u724-7
	{
		z-index: 146;
		width: 280px;
		margin-left: 50%;
		left: -140px;
	}

	#u681
	{
		z-index: 86;
		width: 275px;
		margin-top: 31px;
		margin-left: 50%;
		left: -135px;
	}

	#u682-4
	{
		z-index: 87;
		width: 177px;
		margin-left: 50%;
		left: -67px;
	}

	#u652-bw
	{
		min-height: 959px;
		margin-top: 2357px;
	}

	#u654
	{
		z-index: 5;
		min-height: 1192.7000000000016px;
		padding-bottom: 0px;
	}

	#u654_align_to_page
	{
		max-width: 320px;
		padding-top: 99px;
		padding-bottom: 153px;
	}

	#u685
	{
		z-index: 91;
		width: 165px;
		margin-left: 50%;
		left: -83px;
	}

	#u674-4
	{
		z-index: 62;
		width: 280px;
		line-height: 29px;
		font-size: 24px;
		margin-top: 40px;
		margin-left: 50%;
		left: -140px;
	}

	#u687
	{
		z-index: 93;
		width: 165px;
		margin-top: 21px;
		margin-left: 50%;
		left: -83px;
	}

	#u675-4
	{
		z-index: 66;
		width: 281px;
		line-height: 29px;
		font-size: 24px;
		margin-top: 22px;
		margin-left: 50%;
		left: -141px;
	}

	#u689
	{
		z-index: 95;
		width: 165px;
		margin-top: 77px;
		margin-left: 50%;
		left: -83px;
	}

	#u676-4
	{
		z-index: 70;
		width: 281px;
		line-height: 29px;
		font-size: 24px;
		margin-top: 13px;
		margin-left: 50%;
		left: -141px;
	}

	#u654-bw
	{
		z-index: 5;
		min-height: 1192.7000000000016px;
	}

	#u659
	{
		z-index: 9;
		height: 1256px;
		-webkit-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-32,24);
		-ms-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-32,24);
		transform: matrix(0.9986,-0.0523,0.0523,0.9986,-32,24);
		margin-right: -10000px;
		margin-top: 1145px;
		width: 88.04%;
		margin-left: 5.99%;
		left: 33px;
	}

	#pamphletu696
	{
		z-index: 97;
		height: 822px;
		padding-bottom: 59px;
		margin-top: 1402px;
		left: -505px;
	}

	#u703popup
	{
		z-index: 98;
	}

	#u704
	{
		z-index: 99;
		height: 881px;
	}

	#pu707
	{
		width: 0.01px;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 76px;
		margin-left: 365px;
	}

	#u707
	{
		z-index: 108;
		width: 183px;
		height: 183px;
		margin-left: 49px;
	}

	#u706-4
	{
		z-index: 104;
		width: 280px;
		font-size: 14px;
		margin-top: 67px;
	}

	#u705-4
	{
		z-index: 100;
		margin-top: 286px;
		width: 29.63%;
		left: 38.63%;
	}

	#u708
	{
		z-index: 109;
		height: 881px;
	}

	#u711
	{
		z-index: 118;
		width: 183px;
		height: 183px;
		-pie-background: url("../images/88698235_komyza307-ieu711-fr.png");
		margin-left: 48px;
	}

	#u710-4
	{
		z-index: 114;
		width: 280px;
		font-size: 14px;
		margin-top: 149px;
	}

	#u709-4
	{
		z-index: 110;
		margin-top: 286px;
		width: 29.63%;
		left: 38.63%;
	}

	#u712
	{
		z-index: 119;
		height: 881px;
	}

	#pu711,#pu714
	{
		width: 0.01px;
		margin-right: -10000px;
		margin-top: 76px;
		margin-left: 365px;
	}

	#u714
	{
		z-index: 129;
		width: 183px;
		height: 183px;
		-pie-background: url("../images/boy-dp-girl-tumblr-favimcom-3304924-ieu714-fr2.png");
		margin-left: 48px;
	}

	#u715-5
	{
		z-index: 124;
		width: 280px;
		font-size: 14px;
		margin-top: 75px;
	}

	#u715-2
	{
		font-weight: 700;
		font-style: italic;
	}

	#u713-4
	{
		z-index: 120;
		margin-top: 300px;
		left: 38.74%;
	}

	#u716
	{
		z-index: 130;
		margin-top: 812px;
		left: 480px;
	}

	#u700
	{
		width: 84px;
		padding-bottom: 15px;
		top: 777px;
		left: 368px;
	}

	#u701
	{
		z-index: 135;
		margin-top: 18px;
		left: 15px;
	}

	#u697
	{
		width: 87px;
		padding-bottom: 16px;
		top: 777px;
		left: 558px;
	}

	#u698
	{
		z-index: 138;
		margin-top: 17px;
		left: 25px;
	}

	#u1307-4
	{
		z-index: 140;
		min-height: 37px;
		line-height: 29px;
		font-size: 24px;
		margin-right: -10000px;
		margin-top: 1399px;
		margin-left: 50%;
		left: -108px;
	}

	#u722
	{
		z-index: 144;
		width: 231px;
		-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,74,-65);
		-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,74,-65);
		transform: matrix(0.7071,0.7071,-0.7071,0.7071,74,-65);
		margin-top: 2522px;
		margin-left: 50%;
		left: -120px;
	}

	#u2289
	{
		z-index: 193;
		margin-right: -10000px;
		margin-top: 3889px;
		left: 1089px;
	}

	#u725
	{
		z-index: 153;
		margin-left: 50%;
		left: 1091px;
	}

	#pu727
	{
		width: 42.82%;
		margin-left: 28.6%;
	}

	#u727
	{
		z-index: 155;
		margin-left: 50%;
		left: 1272.5px;
	}

	#u726
	{
		z-index: 154;
		margin-left: 50%;
		left: 1235.5px;
	}

	#u655
	{
		z-index: 6;
		margin-left: 50%;
		left: 1823px;
	}

	.ie #u655
	{
		margin-left: 50%;
		left: 1823px;
	}

	body
	{
		min-width: 320px;
	}
}

